
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Main_Page_without_Script.cshtml";
    var SCM_supp_id = ViewBag.scm_supp_id as WebApplication1.Models.Scm_Supplier;


}
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Suppliers</h4>
            <div class="basic-form">
                <form>
                    <div class="row">
                        <div class="col">
                            <input type="text" disabled id="supp_id" name="supp_id" class="form-control" placeholder="supp_id" value="@SCM_supp_id.SUPP_id">
                        </div>
                        <div class="col supp_code">
                            <input type="text" id="supp_code" name="supp_code" class="form-control" placeholder="supp code">
                            <span class="custom-error">Please Enter Supplier code</span>
                        </div>
                        <div class="col supplier">
                            <input type="text" id="supplier" name="supplier" class="form-control" placeholder="supplier">
                            <span class="custom-error">Please Enter Supplier</span>
                        </div>
                        <div class="col contact_person">
                            <input type="text" id="contact_person" name="contact_person" class="form-control" placeholder="Contact Person">
                            <span class="custom-error">Please Enter Contact Person</span>
                        </div>
                        <div class="col oth_contact_person">
                            <input type="text" id="oth_contact_person" name="oth_contact_person" class="form-control" placeholder="other Contact Person">
                            <span class="custom-error">Please Enter Other contact</span>
                        </div>
                        <div class="col cnic">
                            <input type="text" id="cnic" name="cnic" class="form-control" placeholder="CNIC">
                            <span class="custom-error">Please Enter CNIC</span>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <input type="text" id="supp_type" name="supp_type" class="form-control" placeholder="Supp Type">
                        </div>
                        <div class="col">
                            <input type="text" id="supp_ntn" name="supp_ntn" class="form-control" placeholder="NTN">
                        </div>
                        <div class="col supp_email">
                            <input type="text" id="supp_email" name="supp_email" class="form-control" placeholder="Email">
                            <span class="custom-error">Please Enter E-mail</span>
                        </div>
                        <div class="col">
                            <input type="text" id="supp_fax" name="supp_fax" class="form-control" placeholder="FAX">
                        </div>
                        <div class="col">
                            <input type="text" id="contact_office" name="contact_office" class="form-control" placeholder="Contact Office">
                        </div>
                        <div class="col">
                            <input type="text" id="mobile_no" name="mobile_no" class="form-control" placeholder="Mobile No..">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <input type="text" id="regions" name="regions" class="form-control" placeholder="Regions">
                        </div>
                        <div class="col">
                            <input type="text" id="country" name="country" class="form-control" placeholder="Country">
                        </div>
                        <div class="col">
                            <input type="text" id="province" name="province" class="form-control" placeholder="Province">
                        </div>
                        <div class="col">
                            <input type="text" id="city" name="city" class="form-control" placeholder="City">
                        </div>
                        <div class="col">
                            <input type="text" id="area" name="area" class="form-control" placeholder="Area">
                        </div>
                        <div class="col">
                            <input type="text" id="supp_address" name="supp_address" class="form-control" placeholder="Address">
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <input type="text" id="oth_mobile_no" name="oth_mobile_no" class="form-control" placeholder="other mobile No">
                        </div>
                        <div class="col">
                            <input type="text" id="invoice_currency" name="invoice_currency" class="form-control" placeholder="invoice Currency">
                        </div>
                        <div class="col">
                            <input type="text" id="pay_currency" name="pay_currency" class="form-control" placeholder="Pay Currency">
                        </div>
                        <div class="col">
                            <label>Status: &nbsp;</label>
                            <input type="checkbox" class="css-control-input" id="supp_status" name="supp_status">
                            @*<input type="text" id="supp_status" name="supp_status" class="form-control" placeholder="Status">*@
                        </div>
                    </div>

                    <br />
                    <h4 class="card-title">Details</h4>
                    <div class="row">

                        <div class="col collapse">
                            <input type="hidden" id="SUPP_id_d" name="SUPP_id_d" class="form-control" placeholder="Supplier id">
                        </div>
                        <div class="col">
                            <input type="text" disabled id="sno" name="sno" class="form-control" placeholder="S.No">
                        </div>
                        <div class="col">
                            <input type="text" id="Supp_ACC_id" name="Supp_ACC_id" class="form-control" placeholder="Supplier Account">
                        </div>

                        <div class="col">
                            <input type="text" id="SUPP_Bank" name="SUPP_Bank" class="form-control" placeholder="Supplier Bank">
                            <span class="custom-error supplier-bank">Please Enter Supplier Bank</span>
                        </div>
                        <div class="col">
                            <input type="text" id="Acc_no" name="Acc_no" class="form-control" placeholder="Account no">
                        </div>
                        <div class="col">
                            <a href="#" class="btn btn-success add" id="add">Add</a>
                        </div>
                    </div>


                    <br />

                    <div class="row" id="details">

                    </div>
                    <div class="form-group row">
                        <div class="col-lg-8">
                            <button type="button" id="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-lg-8 ml-auto">
                            <span class="text-success collapse" id="Save">Saved successfully...!</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<style>
    .custom-error {
        color: red;
        font-size: 10px;
        display: none;
    }
</style>



<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(document).ready(function () {

        $('#sno').val(1);




        $('#add').click(function () {

            var AllValid = true;

            if (!($('#SUPP_Bank').val().trim() != '')) {
                AllValid = false;
                $('.custom-error').css('display', 'block');
            }
            else {
                $('.custom-error').css('display', 'none');
            }

            if (AllValid) {

                var supplier_m_id = $('#supp_id').val();

                var Sno = $('#sno').val();
                var supplier_d_id = supplier_m_id;
                var Supp_ACC_id = $('#Supp_ACC_id').val().trim();
                var SUPP_Bank = $('#SUPP_Bank').val().trim();
                var Acc_no = $('#Acc_no').val().trim();
                //var Rate = $('#Rate').val().trim();
                //var Amount = $('#Amount').val().trim();

                var details_value = `
                                     <div class="row" style= "margin-bottom: 10px; margin-left:5px;">

                                       <div class="col collapse">
                                            <input type="text" disabled class="form-control" value= `+ supplier_d_id + `>
                                       </div>

                                       <div class="col">
                                            <input type="text" disabled class="form-control" value= `+ Sno + `>
                                       </div>
                                       <div class="col">
                                            <input type="text" class="form-control Supp_ACC_id" value= `+ Supp_ACC_id + `>
                                       </div>

                                        <div class="col">
                                            <input type="text" class="form-control SUPP_Bank" value= `+ SUPP_Bank + `>
                                       </div>

                                       <div class="col">
                                            <input type="text" class="form-control Acc_no" value= `+ Acc_no + `>
                                       </div>

                                        <div class="col">
                                            <a href="#" class="btn btn-danger Del" id="Del">Delete</a>
                                        </div>
                                     </div>
                                     `;

                $('#details').append(details_value);



                //auto generate Serial number
                var sno = parseInt($('#sno').val()) + 1;
                $('#sno').val(sno);


                $('#Supp_ACC_id,#SUPP_Bank,#Acc_no').val('');
            }


        });


        $('#submit').click(function () {

            var Valid = true;


            if (!($('#supp_code').val().trim() != '')) {
                Valid = false;
                $('.supp_code .custom-error').css('display', 'block');
            }
            else {
                $('.supp_code .custom-error').css('display', 'none');

            }


            if (!($('#supplier').val().trim() != '')) {
                Valid = false;
                $('.supplier .custom-error').css('display', 'block');
            }
            else {
                $('.supplier .custom-error').css('display', 'none');

            }


            if (!($('#contact_person').val().trim() != '')) {
                Valid = false;
                $('.contact_person .custom-error').css('display', 'block');
            }
            else {
                $('.contact_person .custom-error').css('display', 'none');

            }


            if (!($('#oth_contact_person').val().trim() != '')) {
                Valid = false;
                $('.oth_contact_person .custom-error').css('display', 'block');
            }
            else {
                $('.oth_contact_person .custom-error').css('display', 'none');

            }



            if (!($('#cnic').val().trim() != '')) {
                Valid = false;
                $('.cnic .custom-error').css('display', 'block');
            }
            else {
                $('.cnic .custom-error').css('display', 'none');

            }


            if (!($('#supp_email').val().trim() != '')) {
                Valid = false;
                $('.supp_email .custom-error').css('display', 'block');
            }
            else {
                $('.supp_email .custom-error').css('display', 'none');

            }

            var isAllvalid = true;
            var list = [];
            var errorItemCount = 0;
            $('#details div').each(function (index, ele) {
                if (
                    //$('select.product', this).val() == "0" ||
                    $('.Supp_ACC_id', this).val() == "" ||
                    isNaN($('.Supp_ACC_id', this).val()) ||
                    $('.SUPP_Bank', this).val() == "" ||
                    $('.Acc_no', this).val() == "" ||
                    isNaN($('.Acc_no', this).val())
                ) {
                    errorItemCount++;
                    $(this).addClass('error');
                } else {
                    var orderItem = {
                        Supp_ACC_id: $('.Supp_ACC_id', this).val(),
                        SUPP_Bank: $('.SUPP_Bank', this).val(),
                        Acc_no: $('.Acc_no', this).val()
                    }
                    JSON.stringify(orderItem)
                    list.push(orderItem);
                }
            })

            debugger


            if (Valid) {
                var Supplier_Data =
                {

                    supp_id: $('#supp_id').val().trim(),
                    supp_code: $('#supp_code').val().trim(),
                    supplier: $('#supplier').val().trim(),
                    contact_person: $('#contact_person').val().trim(),
                    oth_contact_person: $('#oth_contact_person').val().trim(),
                    supp_type: $('#supp_type').val().trim(),
                    supp_ntn: $('#supp_ntn').val().trim(),
                    supp_email: $('#supp_email').val().trim(),
                    supp_fax: $('#supp_fax').val().trim(),
                    contact_office: $('#contact_office').val().trim(),
                    mobile_no: $('#mobile_no').val().trim(),
                    oth_mobile_no: $('#oth_mobile_no').val().trim(),
                    cnic: $('#cnic').val().trim(),
                    regions: $('#regions').val().trim(),
                    country: $('#country').val().trim(),
                    province: $('#province').val().trim(),
                    city: $('#city').val().trim(),
                    area: $('#area').val().trim(),
                    supp_address: $('#supp_address').val().trim(),
                    invoice_currency: $('#invoice_currency').val().trim(),
                    pay_currency: $('#pay_currency').val().trim(),
                    supp_status: $('#supp_status').prop('checked'),


                    //details

                    Scm_Supplier_details: list

                }

                debugger
                $.ajax({
                    type: 'POST',
                    url: '/Scm_Supplier/Index',
                    data: {
                        supp_id: Supplier_Data.supp_id,
                        supp_code: Supplier_Data.supp_code,
                        supplier: Supplier_Data.supplier,
                        contact_person: Supplier_Data.contact_person,
                        oth_contact_person: Supplier_Data.oth_contact_person,
                        supp_type: Supplier_Data.supp_type,
                        supp_ntn: Supplier_Data.supp_ntn,
                        supp_email: Supplier_Data.supp_email,
                        supp_fax: Supplier_Data.supp_fax,
                        contact_office: Supplier_Data.contact_office,
                        mobile_no: Supplier_Data.mobile_no,
                        oth_mobile_no: Supplier_Data.oth_mobile_no,
                        cnic: Supplier_Data.cnic,
                        regions: Supplier_Data.regions,
                        country: Supplier_Data.province,
                        province: Supplier_Data.province,
                        city: Supplier_Data.city,
                        area: Supplier_Data.area,
                        supp_address: Supplier_Data.supp_address,
                        invoice_currency: Supplier_Data.invoice_currency,
                        pay_currency: Supplier_Data.pay_currency,
                        supp_status: Supplier_Data.supp_status,


                        Scm_Supplier_details: Supplier_Data.Scm_Supplier_details
                    },
                    success: function (response) {
                        if (response.success) {
                            getid();
                        }
                    }

                });

                function getid() {

                    $.ajax({
                        type: 'GET',
                        url: '/Scm_Supplier/GetData',
                        data: { Item_category_id: 1 },
                        success: function (response) {
                            if (response.success) {

                                console.log(response.fetchdata);
                                $('#supp_id').val(response.fetchdata);
                                $('#supp_code').val(null);
                                $('#supplier').val(null);
                                $('#contact_person').val(null);
                                $('#oth_contact_person').val(null);
                                $('#cnic').val(null);
                                $('#supp_type').val(null);
                                $('#supp_ntn').val(null);
                                $('#supp_email').val(null);
                                $('#supp_fax').val(null);
                                $('#contact_office').val(null);
                                $('#mobile_no').val(null);
                                $('#regions').val(null);
                                $('#country').val(null);
                                $('#province').val(null);
                                $('#city').val(null);
                                $('#area').val(null);
                                $('#supp_address').val(null);
                                $('#oth_mobile_no').val(null);
                                $('#invoice_currency').val(null);
                                $('#pay_currency').val(null);
                                $('#supp_status').prop("checked", false);


                                $('#Supp_ACC_id').val(null);
                                $('#SUPP_Bank').val(null);
                                $('#Acc_no').val(null);

                                $('#sno').val(1);

                                $('.Supp_ACC_id').remove();

                                $("#Save").fadeIn(3000);
                                $("#Save").fadeOut(3000);
                            }
                        }

                    });
                }
            }


        });
    });
</script>
